@use "../../theme";

.Landing {
  height: 100vh;
  position: relative;

  &-Img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-Overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &-OverlayPrimary {
    position: absolute;
    height: 100%;
    width: 27%;
    left: 0;
    background-color: theme.$colorPrimary;
  }

  &-OverlaySecondary {
    position: absolute;
    height: 100%;
    right: 0;
    width: 73%;
    background-color: #000000ad;
  }

  &-Content {
    position: absolute;
    top: 0;
    left: calc((100% - 1300px) / 2);
    width: 1300px;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-Title {
    color: theme.$colorSecondary;
    font-size: 56px;
    width: 550px;
    margin-bottom: 24px;
  }

  &-Subtitle {
    color: theme.$colorSecondary;
    font-size: 16px;
    width: 440px;
    margin-bottom: 48px;
  }
}
