@use "../../theme";

.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  z-index: 2;

  &.Header-Secondary {
    position: initial;
    background-color: theme.$colorTextPrimary;
  }

  &-Inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (theme.$desktop) {
      width: 960px;
      margin: 0 auto;
    }

    @media (theme.$desktopLarge) {
      width: 1260px;
    }
  }

  &-Logo {
    width: 140px;
  }

  &-Hamburger {
    width: 30px;
    height: auto;

    path {
      fill: theme.$colorSecondary;
    }

    @media (theme.$desktop) {
      display: none;
    }
  }

  &-Nav {
    display: none;

    @media (theme.$desktop) {
      display: block;
    }
  }

  &-NavLink {
    color: theme.$colorSecondary;
    letter-spacing: 1px;
    margin-right: 48px;
    transition: text-shadow 0.3s ease-out;
  }

  &-NavLink:hover {
    text-shadow: 0.7px 0 0 theme.$colorSecondary;
  }

  &-NavButton {
    margin-right: 24px;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }
}
